<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="unit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html" target="build/coverage" lowUpperBound="35" highLowerBound="70" />
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <php>
        <env name="CONTENTFUL_DELIVERY_SPACE_ID" value="cfexampleapi" />
        <env name="CONTENTFUL_DELIVERY_TOKEN" value="b4c0n73n7fu1" />
        <env name="CONTENTFUL_DELIVERY_ENVIRONMENT_ID" value="master" />
        <env name="CONTENTFUL_DELIVERY_USE_PREVIEW" value="1" />
        <env name="CONTENTFUL_DELIVERY_DEFAULT_LOCALE" value="en-US" />

        <env name="CONTENTFUL_MANAGEMENT_TOKEN" value="b4c0n73n7fu1" />
        <env name="CONTENTFUL_MANAGEMENT_ENVIRONMENT_ID" value="master" />
        <env name="CONTENTFUL_MANAGEMENT_SPACE_ID" value="cfexampleapi" />
        <env name="CONTENTFUL_MANAGEMENT_DEFAULT_LOCALE" value="en-US" />
    </php>
</phpunit>
